section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax2 {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.paralax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../images/homeparallax.jpeg");
}
section.module.parallax-2 {
  background-image: url("../images/parallax1.jpeg");
}
section.module.parallax-3 {
  background-image: url("../images/parallax2.jpeg");
}
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

.slide {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.hasSlid {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.padding-enlarge {
  -moz-transition: padding-top 0.15s ease-in-out,
    padding-bottom 0.15s ease-in-out;
  -o-transition: padding-top 0.15s ease-in-out, padding-bottom 0.15s ease-in-out;
  -webkit-transition: padding-top 0.15s ease-in-out,
    padding-bottom 0.15s ease-in-out;
  transition: padding-top 0.15s ease-in-out, padding-bottom 0.15s ease-in-out;
}

.padding-enlarge:hover {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  border-top: 1px solid #444;
  padding-top: 20px;
  margin-top: 20px;
  color: #999;
}

.p {
  text-align: center;
  padding-top: 120px;
}

.p a {
  text-decoration: underline;
  color: blue;
}
.timer {
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #507c3c;
  display: inline-block;
  width: 40rem;
  margin: 25px;
  padding: 25px 30px;
}

.timer__item {
  display: inline-block;
  text-align: center;
  width: 20rem;
}

.timer__item + .timer__item {
  margin-left: 20px;
}

.timer__value,
.timer__label {
  display: block;
  color: white;
}

.timer__value {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 2px;
}

.timer__label {
  color: white;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.table thead th {
  background-color: #a72828;
  color: white;
  text-align: center;
}
.rounded-circle {
  border-radius: 50% !important;
}
.cream {
  background-color: #f8d29c;
}
.blue {
  background-color: #22396b;
}

.csize {
  height: 80px !important;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .card-text {
    font-size: 14px;
  }
  .benefit {
    width: 50;
    height: 50;
  }
}

@media (max-width: 768px) {
  .card-text {
    font-size: 14px;
  }
  .benefit {
    width: 50;
    height: 50;
  }
}
